<footer></footer>
<div class="footer">
    <a href="#copyright" style="color:rgb(255, 255, 255);">@dgrant20</a>
    <a href="/about" style="color:rgb(255, 255, 255);">About</a>
    <a href="/contact" style="color:rgb(255, 255, 255);">Contact</a>
    <div class="footer-right">
    </div>
</div>
</footer>
</body>

</html>