<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project1</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="/">
                <img alt="Logo" src="/images/Offline.png" width="175" height="175">
            </a>
        </div>
        <div class="header-right">
            <%if(!user) {%>
                <a href="/users/login" style="background-color: #4b648d;">Log In</a>
                <a href="/users/new" style="background-color: #4b648d;">Sign Up</a>
                <%} else {%>
                    <a href='/newConnection' style="background-color: #4b648d;">Start a new connection</a>
                    <a href='/users/profile' style="background-color: #4b648d;">Profile</a>
                    <a href='/users/logout' style="background-color: #4b648d;">Logout</a>
                    <%}%>
        </div>

        <div class="Connect">
            <a href='/connections' style="background-color: #4b648d;">Connections</a>
        </div>
    </div>
    <% if(errorMessages.length> 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class='error'>
                <%=message%>
            </div>
            <%});%>
                <%}%>

                    <% if(successMessages.length> 0) {%>

                        <% successMessages.forEach(message=>{%>
                            <div class='success'>
                                <%=message%>
                            </div>
                            <%});%>
                                <%}%>