<%- include('./partials/header.ejs')%>
    <div class="c1">
        <p>
            <%= error.status%> Error
        </p>
        <p>
            <%= error.message%>
        </p>
    </div>
    <%- include('./partials/footer.ejs')%>