<%- include('./partials/header.ejs')%>
    <div class="content">
        <p> Welcome to offline video gaming connections </p>
        <p> Find people to meetup and game with!</p>
        <p> In the world of online gaming people forget about the good old days of bringing your console to your friends
            house.</p>
        <p> Or the days of linking up with the local gaming community for a LAN tournament.</p>
        <p> Here at Offline Gaming Connections we aim to bring back some of those good old days.</p>
        <p> Click on connections to connect with fellow gamers</p>
    </div>
    <%- include('./partials/footer.ejs')%>